<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CUPFigureCaption regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad6e83">  <td>19/04/11 17:01:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption09.CUPTableCaptionTest09()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption09@58a90037]">CUPTableCaptionTest09</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>19/04/11 16:52:19</td>   <td>-553950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption01.CUPTableCaptionTest1()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption01@69a10787]">CUPTableCaptionTest1</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="a0cee9">  <td>19/04/11 17:02:31</td>   <td>58654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption10.CUPTableCaptionTest10()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption10@2df32bf7]">CUPTableCaptionTest10</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>19/04/11 17:03:38</td>   <td>125666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption11.CUPTableCaptionTest11()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption11@32464a14]">CUPTableCaptionTest11</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="da69a0">  <td>19/04/11 17:04:33</td>   <td>180311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption12.CUPTableCaptionTest12()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption12@588df31b]">CUPTableCaptionTest12</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78a36e">  <td>19/04/11 17:05:27</td>   <td>233988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption13.CUPTableCaptionTest13()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption13@166fa74d]">CUPTableCaptionTest13</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="6a64ae">  <td>19/04/11 17:06:20</td>   <td>287625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption14.CUPTableCaptionTest14()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption14@de3a06f]">CUPTableCaptionTest14</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="ceb190">  <td>19/04/11 17:07:14</td>   <td>340996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption15.CUPTableCaptionTest15()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption15@11c20519]">CUPTableCaptionTest15</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="a095a0">  <td>19/04/11 17:08:08</td>   <td>395193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption16.CUPTableCaptionTest16()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption16@4b9e255]">CUPTableCaptionTest16</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b467e9">  <td>19/04/11 17:09:01</td>   <td>448403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption18.CUPTableCaptionTest18()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption18@46238e3f]">CUPTableCaptionTest18</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="aa8ea6">  <td>19/04/11 16:53:28</td>   <td>-484883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption02.CUPTableCaptionTest2()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption02@5cdd8682]">CUPTableCaptionTest2</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="9fc5a2">  <td>19/04/11 16:54:36</td>   <td>-416747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption03.CUPTableCaptionTest3()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption03@2bbaf4f0]">CUPTableCaptionTest3</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>19/04/11 16:55:50</td>   <td>-342933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption04.CUPTableCaptionTest4()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption04@3d8314f0]">CUPTableCaptionTest4</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="84a17f">  <td>19/04/11 16:57:02</td>   <td>-270563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption05.CUPTableCaptionTest5()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption05@2d127a61]">CUPTableCaptionTest5</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="9494d8">  <td>19/04/11 17:14:30</td>   <td>776814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain05.CUPTableCaptionTest5()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain05@2a40cd94]">CUPTableCaptionTest5</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="7e7863">  <td>19/04/11 16:58:14</td>   <td>-198704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption06.CUPTableCaptionTest6()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption06@7181ae3f]">CUPTableCaptionTest6</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>19/04/11 16:59:30</td>   <td>-122944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption07.CUPTableCaptionTest7()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption07@530612ba]">CUPTableCaptionTest7</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>19/04/11 17:00:34</td>   <td>-58393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableCaption08.CUPTableCaptionTest8()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption08@1188e820]">CUPTableCaptionTest8</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="dbb0c5">  <td>19/04/11 17:09:59</td>   <td>506265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain01.CUPTableContainTest01()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain01@6e2c9341]">CUPTableContainTest01</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="678e9f">  <td>19/04/11 17:11:06</td>   <td>572866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain02.CUPTableContainTest02()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain02@12028586]">CUPTableContainTest02</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/04/11 17:19:52</td>   <td>1098958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain10.CUPTableContainTest10()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain10@f4168b8]">CUPTableContainTest10</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>19/04/11 17:20:43</td>   <td>1149870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain11.CUPTableContainTest11()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain11@76a4d6c]">CUPTableContainTest11</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="f4d588">  <td>19/04/11 17:21:32</td>   <td>1199408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain12.CUPTableContainTest12()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain12@77a57272]">CUPTableContainTest12</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>19/04/11 17:22:23</td>   <td>1250566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain13.CUPTableContainTest13()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain13@517cd4b]">CUPTableContainTest13</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>19/04/11 17:12:12</td>   <td>638869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain03.CUPTableContainTest3()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain03@799d4f69]">CUPTableContainTest3</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b4b0af">  <td>19/04/11 17:13:22</td>   <td>709461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain04.CUPTableContainTest4()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain04@33b37288]">CUPTableContainTest4</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="6786a3">  <td>19/04/11 17:15:42</td>   <td>848795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain06.CUPTableContainTest6()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain06@1442d7b5]">CUPTableContainTest6</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="6067f4">  <td>19/04/11 17:16:53</td>   <td>920388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain07.CUPTableContainTest7()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain07@101df177]">CUPTableContainTest7</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="7a75ff">  <td>19/04/11 17:18:09</td>   <td>996009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain08.CUPTableContainTest8()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain08@1efee8e7]">CUPTableContainTest8</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="786a70">  <td>19/04/11 17:19:04</td>   <td>1050863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_TableContain09.CUPTableContainTest9()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain09@1ee807c6]">CUPTableContainTest9</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="6e6aa2">  <td>19/04/11 16:41:31</td>   <td>-1202225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption09.CUPtest09()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption09@32cf48b7]">CUPtest09</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="eeefeb">  <td>19/04/11 16:32:07</td>   <td>-1765933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption01.CUPtest1()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption01@76b10754]">CUPtest1</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b185bd">  <td>19/04/11 16:42:27</td>   <td>-1146125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption10.CUPtest10()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption10@679b62af]">CUPtest10</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="bf9d74">  <td>19/04/11 16:43:24</td>   <td>-1088406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption11.CUPtest11()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption11@6cc7b4de]">CUPtest11</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>19/04/11 16:44:20</td>   <td>-1032301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption12.CUPtest12()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption12@276438c9]">CUPtest12</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="607aaf">  <td>19/04/11 16:45:19</td>   <td>-973833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption13.CUPtest13()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption13@45afc369]">CUPtest13</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/11 16:47:28</td>   <td>-844434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption14.CUPtest14()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption14@49c43f4e]">CUPtest14</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>19/04/11 16:48:29</td>   <td>-784084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption15.CUPtest15()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption15@3bd94634]">CUPtest15</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>19/04/11 16:49:28</td>   <td>-724345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption16.CUPtest16()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption16@130f889]">CUPtest16</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="bbf683">  <td>19/04/11 16:50:25</td>   <td>-667930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption17.CUPtest17()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption17@290dbf45]">CUPtest17</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="c8817c">  <td>19/04/11 16:51:23</td>   <td>-609796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption18.CUPtest18()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption18@2f490758]">CUPtest18</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="d068bf">  <td>19/04/11 16:33:43</td>   <td>-1670237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption02.CUPtest2()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption02@74294adb]">CUPtest2</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="91777e">  <td>19/04/11 16:34:47</td>   <td>-1605798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption03.CUPtest3()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption03@70a9f84e]">CUPtest3</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="ac7162">  <td>19/04/11 16:35:56</td>   <td>-1536629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption04.CUPtest4()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption04@d6da883]">CUPtest4</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="e888ab">  <td>19/04/11 16:37:06</td>   <td>-1466746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption05.CUPtest5()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption05@4e4aea35]">CUPtest5</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="6e8f99">  <td>19/04/11 16:38:15</td>   <td>-1397664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption06.CUPtest6()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption06@40f08448]">CUPtest6</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="74868d">  <td>19/04/11 16:39:23</td>   <td>-1329598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption07.CUPtest7()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption07@17776a8]">CUPtest7</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="c8a2c0">  <td>19/04/11 16:40:23</td>   <td>-1270146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CUP_AuthorEnd_FigureCaption08.CUPtest8()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption08@2bea5ab4]">CUPtest8</td> 
  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:33:34</td>   <td>-1679066</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption01@76b10754]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:34:39</td>   <td>-1614043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption02@74294adb]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:35:48</td>   <td>-1545089</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption03@70a9f84e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:36:58</td>   <td>-1474958</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption04@d6da883]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:38:07</td>   <td>-1406205</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption05@4e4aea35]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:39:15</td>   <td>-1337631</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption06@40f08448]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:40:12</td>   <td>-1281167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption07@17776a8]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:41:09</td>   <td>-1224229</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption08@2bea5ab4]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:42:18</td>   <td>-1154448</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption09@32cf48b7]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:43:16</td>   <td>-1096910</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption10@679b62af]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:44:12</td>   <td>-1040865</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption11@6cc7b4de]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:45:09</td>   <td>-983500</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption12@276438c9]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:47:19</td>   <td>-853505</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption13@45afc369]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:48:20</td>   <td>-793106</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption14@49c43f4e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:49:20</td>   <td>-732752</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption15@3bd94634]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:50:17</td>   <td>-676226</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption16@130f889]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:51:14</td>   <td>-618431</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption17@290dbf45]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:52:11</td>   <td>-561972</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption18@2f490758]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:53:16</td>   <td>-497226</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption01@69a10787]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:54:28</td>   <td>-424988</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption02@5cdd8682]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:55:41</td>   <td>-351314</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption03@2bbaf4f0]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:56:54</td>   <td>-278890</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption04@3d8314f0]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:58:05</td>   <td>-207364</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption05@2d127a61]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:59:18</td>   <td>-135120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption06@7181ae3f]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:00:23</td>   <td>-69698</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption07@530612ba]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:01:24</td>   <td>-8393</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption08@1188e820]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:02:23</td>   <td>50472</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption09@58a90037]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:03:30</td>   <td>117376</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption10@2df32bf7]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:04:25</td>   <td>171918</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption11@32464a14]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:05:18</td>   <td>225669</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption12@588df31b]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:06:12</td>   <td>278894</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption13@166fa74d]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:07:05</td>   <td>332650</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption14@de3a06f]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:07:59</td>   <td>386721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption15@11c20519]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:08:53</td>   <td>440123</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption16@4b9e255]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:09:51</td>   <td>497974</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption18@46238e3f]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:10:57</td>   <td>564449</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain01@6e2c9341]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:12:03</td>   <td>630031</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain02@12028586]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:13:14</td>   <td>701073</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain03@799d4f69]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:14:21</td>   <td>768670</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain04@33b37288]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:15:33</td>   <td>839928</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain05@2a40cd94]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:16:45</td>   <td>912287</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain06@1442d7b5]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:17:48</td>   <td>975585</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain07@101df177]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:18:55</td>   <td>1042136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain08@1efee8e7]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:19:43</td>   <td>1090639</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain09@1ee807c6]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:20:35</td>   <td>1141866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain10@f4168b8]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:21:24</td>   <td>1190874</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain11@76a4d6c]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:22:15</td>   <td>1242207</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain12@77a57272]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:23:07</td>   <td>1293852</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CUP_AuthorEnd_BaseCalss.closeApplication()[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain13@517cd4b]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:31:57</td>   <td>-1775460</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption01@76b10754]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:33:38</td>   <td>-1675250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption02@74294adb]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:34:43</td>   <td>-1610064</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption03@70a9f84e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:35:52</td>   <td>-1541201</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption04@d6da883]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:37:02</td>   <td>-1471074</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption05@4e4aea35]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:38:10</td>   <td>-1402289</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption06@40f08448]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:39:19</td>   <td>-1333814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption07@17776a8]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:40:16</td>   <td>-1277228</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption08@2bea5ab4]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:41:12</td>   <td>-1220312</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption09@32cf48b7]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:42:22</td>   <td>-1150655</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption10@679b62af]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:43:20</td>   <td>-1093080</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption11@6cc7b4de]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:44:16</td>   <td>-1036824</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption12@276438c9]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:45:13</td>   <td>-979661</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption13@45afc369]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:47:24</td>   <td>-849224</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption14@49c43f4e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:48:23</td>   <td>-789317</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption15@3bd94634]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:49:24</td>   <td>-728841</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption16@130f889]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:50:20</td>   <td>-672446</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption17@290dbf45]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:51:18</td>   <td>-614672</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.FigureContain.CUP_AuthorEnd_FigureCaption18@2f490758]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:52:15</td>   <td>-558145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption01@69a10787]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:53:20</td>   <td>-492858</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption02@5cdd8682]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:54:32</td>   <td>-421166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption03@2bbaf4f0]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:55:46</td>   <td>-347241</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption04@3d8314f0]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:56:58</td>   <td>-274932</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption05@2d127a61]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:58:10</td>   <td>-203163</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption06@7181ae3f]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 16:59:22</td>   <td>-131176</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption07@530612ba]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:00:27</td>   <td>-65558</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption08@1188e820]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:01:28</td>   <td>-4392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption09@58a90037]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:02:27</td>   <td>54389</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption10@2df32bf7]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:03:34</td>   <td>121366</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption11@32464a14]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:04:29</td>   <td>175862</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption12@588df31b]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:05:22</td>   <td>229667</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption13@166fa74d]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:06:16</td>   <td>282802</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption14@de3a06f]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:07:09</td>   <td>336562</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption15@11c20519]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:08:03</td>   <td>390680</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption16@4b9e255]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:08:57</td>   <td>444070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableCaption18@46238e3f]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:09:55</td>   <td>501883</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain01@6e2c9341]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:11:01</td>   <td>568218</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain02@12028586]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:12:07</td>   <td>633981</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain03@799d4f69]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:13:18</td>   <td>705078</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain04@33b37288]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:14:25</td>   <td>772639</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain05@2a40cd94]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:15:37</td>   <td>843783</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain06@1442d7b5]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:16:49</td>   <td>916081</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain07@101df177]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:17:52</td>   <td>979529</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain08@1efee8e7]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:18:59</td>   <td>1046077</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain09@1ee807c6]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:19:47</td>   <td>1094580</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain10@f4168b8]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:20:39</td>   <td>1145778</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain11@76a4d6c]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:21:28</td>   <td>1195049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain12@77a57272]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>19/04/11 17:22:19</td>   <td>1246052</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CUP_AuthorEnd_BaseCalss.setupApplication(java.lang.String)[pri:0, instance:com.TableContent.CUP_AuthorEnd_TableContain13@517cd4b]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891095110</td>   <td></td> </tr>
</table>
